<header>
  <nav class="navbar" aria-label="Main navigation">
    <div class="logo">
      <a href="/personal-website/"><img src="assets/img/smile.png" alt="Smile" height="50"></a>
    </div>
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>Home</a></li>
      <li><a href="{{ '/cv.html' | relative_url }}" {% if page.url == '/cv.html' %}class="active"{% endif %}>CV</a></li>
      <li><a href="https://linkedin.com/in/buse-turunctur-0b560b137" target="_blank">LinkedIn</a></li>
      <li><a href="https://github.com/buseet" target="_blank">GitHub</a></li>
    </ul>
  </nav>
</header>